# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Projeto insumos 
projeto/